#root {
  text-align: center;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#viewer {
  width: 100vw;
  min-height: 100vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

/* Color mode */
.dark {
  background-color: rgb(34, 34, 34);
  color: white;
  .card-wrapper {
    border: 2px solid white;
  }
}
.light {
  background-color: rgb(228, 228, 228);
  color: black;
  .card-wrapper {
    border: 2px solid black;
  }
}
.fluffy {
  background-color: rgb(248, 162, 232);
  color: black;
  .card-wrapper {
    border: 2px solid black;
  }
}

/* Bank */
.skandia {
  background-color: rgb(18, 74, 51);
  color: white;
}
.nordea {
  background-color: #003399;
  color: white;
}
.swedbank {
  background-color: #ff6600;
  color: black;
}
.seb {
  background-color: #016b01;
  color: white;
}

/* Card */
.card-wrapper {
  width: 330px;
  height: 185px;
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 0px;

  .card-bank {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .info-wrapper {
    display: flex;
    justify-content: space-between;

    .card-logo {
      width: 45px;
      height: 35px;
      border: 2px solid white;
      border-radius: 4px;
      background-color: rgb(94, 90, 90);
    }
  }

  .card-number {
    font-size: 1.2rem;
  }

  .holder-valid {
    font-size: 0.7rem;
  }
}

form {
  display: flex;
  flex-direction: column;

  input {
    margin: 0px 0px 16px 0px;
  }

  .input-wrapper {
    display: flex;

    .name-input {
      display: flex;
      flex-direction: column;
    }
  }
}

.card-btn {
  margin: 0 16px;
}

#settings-btn {
  margin: 16px 0;
}

#add-card-btn {
  margin: 16px 0;
  width: 200px;
}

#color-select {
  margin: 32px 0;
  padding: 8px 32px;
}
